APP_NAME=Home Collection Mobile API
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=2010
APP_DEBUG=false
APP_WORKERS=1

MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=arpra_root_pass
MYSQL_DB=lead_management
MYSQL_POOL_SIZE=10
MYSQL_MAX_OVERFLOW=20
MYSQL_POOL_TIMEOUT=30
MYSQL_POOL_RECYCLE=1800
CATALOG_MYSQL_HOST=host.docker.internal
CATALOG_MYSQL_PORT=3306
CATALOG_MYSQL_USER=root
CATALOG_MYSQL_PASSWORD=arpra_root_pass
CATALOG_MYSQL_DB=bhasin_7001_new

JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=720
JWT_ACCESS_TOKEN_EXPIRE_SECONDS=

CORS_ORIGINS=["*"]

SSL_CERT_FILE=./certs/fullchain.pem
SSL_KEY_FILE=./certs/privkey.pem
PATIENT_DOCUMENTS_UPLOAD_BASE=/home/arpraandhc/Desktop/arpra neo/arpra-neo/app/static/uploads/patient_documents
WEB_UPLOAD_MIRROR_ROOT=
MAIN_WEB_DOMAIN=https://labmate.bhasinpathlabs.com:4672
APK_PUBLIC_DOMAIN=https://labmate.bhasinpathlabs.com:2010
BOOKING_COMPLETION_LOCK_WAIT_SEC=3
PEPIPOST_WA_ENABLED=true
PEPIPOST_WA_TOKEN=
PEPIPOST_WA_TIMEOUT=8
PEPIPOST_SERVICE_NOTE_TEMPLATE=newhomec

